<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header id="header"></header>

    <main>
        <article>
            <h1>TITLE</h1>
            <p class="date">Publish date: dd/mm/yyyy</p>
            <div class="contenu">
                <!-- Some intro -->
                <pre><code class="language-javascript">
// Example
console.log("Hello, world!");
                </code></pre>
            </div>
        </article>
    </main>

    <footer id="footer"></footer>

    <script src="../assets/js/main.js"></script>
</body>
</html>
